using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Data.OleDb;
using System.Drawing;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Windows.Forms;

namespace excel
{
    public partial class Form1 : Form
    {
        private const string FileName = "C:\\Users\\MikoHuang\\Desktop\\20160105O3.xls";
        //2.提供者名稱  Microsoft.Jet.OLEDB.4.0適用於2003以前版本，Microsoft.ACE.OLEDB.12.0 適用於2007以後的版本處理 xlsx 檔案
        private const string ProviderName = "Microsoft.ACE.OLEDB.12.0;";
        //3.Excel版本，Excel 8.0 針對Excel2000及以上版本，Excel5.0 針對Excel97。
        private const string ExtendedString = "'Excel 8.0;";
        //4.第一行是否為標題
        private const string Hdr = "Yes;";
        //5.IMEX=1 通知驅動程序始終將「互混」數據列作為文本讀取
        private const string IMEX = "0';";

        //連線字串
        string cs =
                "Data Source=" + FileName + ";" +
                "Provider=" + ProviderName +
                "Extended Properties=" + ExtendedString +
                "HDR=" + Hdr +
                "IMEX=" + IMEX;
        //Excel 的工作表名稱 (Excel左下角有的分頁名稱)
        string SheetName = "Sheet1";

        public Form1()
        {
            InitializeComponent();
            //呼叫FileLoad
            FileLoad();
        }
        private void FileLoad()
        {
            using (OleDbConnection cn = new OleDbConnection(cs))
            {
                cn.Open();
             //   string qs = "select * from[" + SheetName + "$]";
                string qs = "Select distinct email,mdate,engname,bankno FROM [Sheet1$] order by email";
                try
                {
                    using (OleDbDataAdapter dr = new OleDbDataAdapter(qs, cn))
                    {
                        DataTable dt = new DataTable();
                        dr.Fill(dt);
                        this.dataGridView1.DataSource = dt;
                        OleDbCommand cmd = cn.CreateCommand();
                        cmd.CommandText = qs;
                        OleDbDataReader DR = cmd.ExecuteReader();
                        while (DR.Read())
                        {
                           // label1.Text += DR["MDATE"].ToString();
                        }
                       
                        
                       // DR.NextResult();
                        //for (int i = 0; i <DR.; i++)
                        //{
                           
                        //}
                    }
                }
                catch (Exception ex)
                {
                    MessageBox.Show(ex.Message);
                }
            }
        }

        private void btnQuery_Click(object sender, EventArgs e)
        {
            using (OleDbConnection cn = new OleDbConnection(cs))
            {
                cn.Open();
                string qs = txtSQL.Text; //"select * from[" + SheetName + "$]";
                 try
                {
                    using (OleDbDataAdapter dr = new OleDbDataAdapter(qs, cn))
                    {
                        DataTable dt = new DataTable();
                        dr.Fill(dt);
                        this.dataGridView1.DataSource = dt;
                        OleDbCommand cmd = cn.CreateCommand();
                        cmd.CommandText = qs;
                        OleDbDataReader DR = cmd.ExecuteReader();
                        while (DR.Read())
                        {
                            label1.Text += DR["MDATE"].ToString();
                        }                     
                    }
                }
                catch (Exception ex)
                {
                    MessageBox.Show(ex.Message);
                }
            }           
        } 
    }
}
